<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="number.android.wdvendor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ActivityOne"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.VendorKeyActivity" />
        <activity
            android:name=".activities.WaterDropVendorActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activities.PreferencesActivity"
            android:label="@string/settings_label"
            android:parentActivityName=".activities.WaterDropVendorActivity"
            android:theme="@style/FullscreenTheme"/>
        <activity
            android:name=".activities.CustomerSummaryActivity"
            android:label="@string/customer_summary_label"
            android:parentActivityName=".activities.CustomersActivity" />

        <activity android:name=".activities.CustomersActivity"
            android:theme="@style/FullscreenTheme"></activity>

        <service android:name=".services.WDFireBaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.WDFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".network.NetworkStateReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


    </application>

</manifest>